*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, nav, div, main, footer {
    border: 3px solid red;
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header header header header'
    'sidebar sidebar navigation navigation navigation navigation navigation Ads Ads '
    'sidebar sidebar main main main main main Ads Ads'
    'sidebar sidebar main main main main main Ads Ads'
    'sidebar sidebar main main main main main Ads Ads'
    'sidebar sidebar main main main main main Ads Ads'
    'sidebar sidebar main main main main main Ads Ads'
    'sidebar sidebar main main main main main Ads Ads'
    'sidebar sidebar main main main main main Ads Ads'
    'footer footer footer footer footer footer footer footer footer';
    gap: 20px;
    background-color: white;
    padding: 10px;
}

header {
    grid-area: header;
}
.sidebar{
    height: 710px;
    grid-area: sidebar;
}
nav {
    grid-area: navigation;
}
main {
    grid-area: main;
}
.Ads{
    grid-area: Ads;
}

footer{
    grid-area: footer;
}